[Unit]
Description=Phoniebox Card Presence Sensor Service
After=network.target iptables.service firewalld.service

[Service]
Restart=always
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/usr/bin/python3 /home/pi/RPi-Jukebox-RFID/scripts/card-presence-sensor.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
